<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,-25&icon_names=cancel,info,language,menu,monitoring,task_alt" />
    <link rel="stylesheet" href="css/tail-output.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/index.js" type="module" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSINT - Phishing URL Detector</title>
  </head>
  <body class="font-Parkinsans">
    <!-- home view -->
    <section class="w-full h-screen bg-gray-200 relative">
        <nav class="w-full h-16 bg-white row shadow-md">
            <div class="w-2/12 h-full bg-blue- relative">
                <span class="material-symbols-rounded center text-4xl">menu</span>
            </div>
            <div class="w-10/12 h-full bg-green- relative">
                <p class="center text-lg font-Parkinsans font-bold os-head">OSINT - Phishing URL Detector Tool</p>
            </div>
        </nav>
        <div class="w-900 h-96 bg-blue- center">
            <div class="w-90 h-72 bg-yellow- center">
                <form class="bg-green- w-450 center" data-url="<%=url%>" id="analyze-form">
                    <div class="row w-full h-18 bg-red- shadow-md rounded-lg">
                        <div class="w-2/12 h-18 bg-blue-400 rounded-tl-lg rounded-bl-lg relative">
                            <span class="material-symbols-rounded center text-3xl text-white">language</span>
                        </div>
                        <div class="w-10/12 h-full bg-yellow-">
                            <input type="text" name="url" id="url"  class="block w-full p-4 mx-auto rounded-tr-lg rounded-br-lg outline-none" />
                        </div>
                    </div>
                    <button id="analyze-btn" class="w-32 bg-blue-400 text-white block mx-auto my-4 p-2 rounded-md">Analyze</button>
                </form>
            </div>

        </div>
    </section>
    <!-- home view -->


    <!-- overlay container -->
      <section class="w-full h-screen bg- center" id="overlay">
        <div class="w-full h-10 bg-red- mt-11">
            <span class="block w-20 py-2 text-center rounded-lg bg-red-500 font-bold text-white mx-auto" id="close-btn">CLOSE</span>
        </div>
        <div class="w-900 h-500 bg-white center z-10 rounded-2xl">
            <p class="bg-red- shadow-lg text-center py-3 text-lg font-Parkinsans font-bold">DOMAIN ANALYSIS</p>
            <div class="w-full h-72 bg-blue- mt-3">
                <p class="py-4 my-4 text-center" id="basic-info">
                    <span id="url-text" class="text-blue-"></span> - 
                </p>
                <div id="results" class="w-full h-60 bg-red-">
                    <div class="w-full h-auto bg-blue- mt-4 row">
                        <!-- about url -->
                        <div class="w-1/2 bg-green- overflow-auto relative">
                            <div class="w-90 h-64 mx-auto bg-blue- center">
                                <p class="text-center py-2 mb-5 bg-green-900 text-white w-48 mx-auto rounded-md">
                                    <span class="material-symbols-rounded absolute">info</span>
                                    <span class="pl-8 font-bold">ABOUT URL</span>
                                </p>
                                <table id="analysis-tab" class="w-full center"></table>
                            </div>
                        </div>
                        <!-- about url -->

                        <!-- insight section -->
                        <div class="w-1/2 bg-yellow-">
                            <div class="w-90 mx-auto">
                                <p class="bg-blue-500 py-2 relative text-center rounded-full w-56 mx-auto my-2 text-white">
                                    <span class="material-symbols-rounded bg-green- text-white absolute">monitoring</span>
                                    <span class="pl-8 bg-blue- text-lg">Insights</span>
                                </p>
                                <div class="w-full h-56 bg-white border-t-2 border-gray-200 rounded-lg shadow-md" id="hold-insights"></div>
                            </div>
                        </div>
                        <!-- insight section -->

                    </div>
                </div>
            </div>
        </div>
     </section> 
    <!-- overlay container -->

    <!-- loading container -->
     <section class="w-full h-screen bg-red-500 center" id="loader">
        <div class="w-450 h-auto rounded-2xl bg-white text-center pb-16 center" id="loader-display">
            <img src="/assets/spinner.svg" class="block my-4 mx-auto" />
            <div class="w-full text-center">
                <p>analyzing url...</p>
                <p>checking <b>WHOIS</b> records</p>
                <p>comparing <b>phishing</b> records</p>
            </div>
        </div>
     </section>
    <!-- loading container -->



  </body>
</html>
